.main_container {
    position: relative;
    padding: 64px;
    max-width: 1400px;
    align-items: flex-start;
    align-self: flex-start;
}

.profile_main_container {
    position: sticky;
    top: 123px;
    padding: 32px;
    max-width: 300px;
    background-color: #2a2727;
    border-radius: 10px;
    justify-content: flex-start;
}

.profile_avatar_container {
    margin: 16px 16px 24px 16px;
}

.info_main_container,
.user_name_main_container,
.user_email_main_container,
.user_about_main_container {
    align-items: flex-start;
}

.info_main_container {
    align-self: flex-start;
}

.profile_header {
    margin: 0 0 6px 0;
    color: #65646c;
    font-size: 16px;
}

.user_name,
.user_email,
.user_about {
    font-size: 18px;
    width: 100%;
}

/* Tickets section------------------ */

.tickets_section {
    width: 100%;
    margin-left: 32px;
}

.tickets_header {
    text-align: center;
}

.tickets_main_container {
    padding: 32px;
}

.ticket_container,
.comment_container,
.ticket_message_container {
    padding: 32px;
    max-width: 700px;
    background-color: #2a2727;
    border-radius: 10px;
    margin-bottom: 24px;
}

.poster_container {
    margin-right: 32px;
}

.left_info_container {
    align-items: flex-start;
}

.right_info_container {
    align-items: center;
    margin: 0 16px;
}

.ticket_seat_info {
    background-color: #221f1f;
    padding: 16px;
    width: 170px;
    border-radius: 10px;
}

.info_film {
    font-size: 28px;
    margin-bottom: 12px;
}

.left_info_container p,
.right_info_container p {
    font-size: 18px;
    margin-bottom: 8px;
}

.info_price {
    margin-left: 8px;
}

.ticket_message_container {
    align-items: center;
    justify-content: center;
}

/* Profile info section------------------ */

.profile_edit_button_container {
    justify-content: flex-end;
}

.profile_edit_button {
    font-size: 14px;
    padding: 2px 8px;
    margin-bottom: -16px;
}

.profile_buttons_container {
    margin-top: 16px;
}

.profile_tickets_button,
.profile_comments_button {
    margin-top: 16px;
    width: 150px;
}

.profile_buttons_container:last-child {
    margin-bottom: 24px;
}

.profile_button_active {
    background-color: #cc0000;
}

.profile_tickets_button:active,
.profile_comments_button :active {
    background-color: #cc0000;
}

/* Comments section------------------ */

.info_main_comment_container {
    align-items: flex-start;
    align-self: flex-start;
}

.info_comment_container {
    justify-content: flex-start;
}

.info_comments_film {
    font-size: 24px;
}

.info_comments_date {
    margin: 0;
    margin-left: auto;
}

.info_comments_body {
    margin-top: 8px;
}

.save_button {
    margin-right: 16px;
}

.avatar_main_container {
    margin-left: 24;
}

.avatar_container {
    margin-bottom: 16px;
}

/* Responsiveness------------------------- */

@media screen and (max-width: 1200px) {
    .info_container {
        flex-direction: column;
    }

    .right_info_container,
    .left_info_container {
        align-items: flex-start;
        width: 60%;
    }
    .right_info_container,
    .left_info_container {
        align-items: center;
        width: 100%;
    }
}

@media screen and (max-width: 1024px) {
    .main_container {
        flex-direction: column;
    }

    .profile_avatar_upper_container {
        flex-direction: row;
    }

    .profile_main_container {
        position: relative;
        top: 0;

        max-width: 100%;
        margin-bottom: 24px;
    }

    .profile_edit_button_container {
        justify-content: flex-start;
    }

    .profile_edit_button {
        font-size: 14px;
        padding: 2px 8px;
        margin-bottom: -16px;
    }

    .info_main_container {
        align-self: center;
        margin-left: 16px;
    }

    .tickets_section {
        margin-left: 0;
    }

    .profile_buttons_container {
        flex-direction: row;
        justify-content: space-around;
    }
}
@media screen and (max-width: 768px) {
    .main_container {
        flex-direction: column;
    }

    .info_main_container {
        align-self: center;
        margin: 0;
    }

    .profile_avatar_upper_container {
        flex-direction: column;
    }

    .profile_buttons_container {
        flex-direction: column;
        justify-content: space-around;
    }

    .main_container {
        padding-left: 0;
        padding-right: 0;
    }

    .ticket_container {
        flex-direction: column;
    }

    .poster_container {
        margin: 0;
        margin-bottom: 24px;
    }

    .comment_container {
        flex-direction: column;
    }

    .info_main_comment_container {
        align-items: center;
    }

    .info_comment_container {
        flex-direction: column;
        justify-content: center;
    }

    .info_comments_date {
        margin: 0;
    }
}

@media screen and (max-width: 480px) {
    .header {
        font-size: 32px;
    }

    .profile_edit_container {
        padding: 0;
    }

    .tickets_main_container {
        padding: 0;
    }

    .profile_wrapper {
        padding: 16px;
    }
}
