.movies_wrapper{
    align-items: flex-start;
}
.movies_page_container{
    padding-top: 64px;
    max-width: 1400px;
    justify-content: flex-start;
}

.movies_main_container{
    /* align-items: flex-start; */
    padding: 32px;
    background-color: #2A2727;
    border-radius: 15px;
    margin-bottom: 64px;
}


.movies_page_title_container{
    justify-content: flex-start;
    margin-bottom: 32px;
    
}

.movies_page_title{
    font-size: 40px;
    align-self: flex-start;
    
}

.movies_add_button{
    margin-left: 16px;
    background-color: #a0a0b1cc;
}


.movies_add_button:hover{
    background-color: #65646c;
}

.edit_button{
    margin-right: 16px;
    background-color: #a0a0b1cc;
}
.edit_button:hover{
    background-color: #65646c;
}

.section_title{
    font-size: 32px;
    margin: 0 0 64px 32px;
}
.movies_container{
    justify-content:space-evenly;
    flex-wrap: wrap;
}

.movie_item_container{
    margin: 0 32px 64px 32px;
    width: 235px;

}

.movie_item{
    width: unset;
    margin-bottom: 8px;
}
.movie_item_title_container{
    min-height: 32px;
    margin : 16px 0 8px 0;
    width:100%;

}
.movie_item_title{
    text-align: center;
    font-size: 18px;
}