.movies_article_container {
    position: relative;
}

.movies_wrapper {
    align-items: flex-start;
}

.movies_page_container {
    padding-top: 64px;
    max-width: 1400px;
    justify-content: flex-start;
}

.movies_main_container {
    padding: 32px;
    background-color: #2a2727;
    border-radius: 15px;
    margin-bottom: 64px;
}

.movies_page_title_container {
    justify-content: flex-start;
    margin-bottom: 32px;
}

.movies_page_title {
    font-size: 40px;
}

.movies_add_button {
    margin-left: 16px;
    background-color: #a0a0b1cc;
}

.movies_add_button:hover {
    background-color: #65646c;
}
.delete_button {
    line-height: 1;
}
.edit_button {
    margin-right: 16px;
    background-color: #a0a0b1cc;
}

.edit_button:hover {
    background-color: #65646c;
}

.section_title {
    font-size: 32px;
    margin-bottom: 64px;
}

.movies_container {
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.movie_item_container {
    margin: 0 32px 64px 32px;
    width: 235px;
}

.movie_item {
    width: unset;
    margin-bottom: 8px;
}

.movie_item_title_container {
    min-height: 32px;
    margin: 16px 0 8px 0;
    width: 100%;
}

.movie_item_title {
    text-align: center;
    font-size: 18px;
}

.movies_delete_main_container {
    position: absolute;
    z-index: 2000;
    top: 0;
    bottom: 0;
}

.movies_delete_container {
    width: unset;
    background-color: #2a2727;
    border-radius: 15px;
    padding: 16px;
    align-self: center;
}

.movies_delete_message {
    padding: 16px;
}

.movies_delete_message button {
    margin-top: 16px;
}

.movies_delete_close_container {
    justify-content: flex-end;
}

/* Responsiveness------------------------- */

@media screen and (max-width: 790px) {
    .movie_item_container {
        margin: 0 0 64px 0;
        width: 100%;
    }

    .movie_item {
        width: unset;
        margin-bottom: 8px;
    }

    .movies_wrapper {
        padding: 0;
    }
}

@media screen and (max-width: 480px) {
    .movies_article_container {
        padding: 0 16px;
    }

    .movies_main_container {
        padding: 16px;
    }

    .movies_page_title {
        font-size: 32px;
    }

    .movies_page_title_container {
        justify-content: center;
        margin-bottom: 16px;
    }

    .section_title {
        font-size: 27px;
        margin-bottom: 32px;
        text-align: center;
    }

    .movies_page_container {
        padding-top: 16px;
    }

    .movie_item_container {
        margin-bottom: 16px;
    }
    .movie_item_container:last-child {
        margin-bottom: 0;
    }

    .movies_delete_message h3 {
        font-size: 18px;
    }
}
