.main_container {
    position: relative;
    align-items: stretch;

    flex-grow: 1;
}

.back_ground_container {
    /* align-items: stretch;
    flex-grow: 1;
    overflow: hidden;
    width:50%; */

    position: relative;
    justify-content: flex-start;
    align-items: stretch;
    flex-grow: 1;
    width: 50%;
}

.image_container {
    position: absolute;

    height: 100%;

    align-items: stretch;
    flex-grow: 1;
    overflow: hidden;
}

.back_ground_image {
    object-fit: cover;
    width: 100%;
    flex: 0 0 auto;

    /* flex: 0 0 auto; */
    /* width: 100%; */
    /* height: 100%; */
}

.form_container {
    width: 50%;
}

.logo {
    margin-bottom: 32px;
}
.form {
    max-width: 320px;
}
.form_header {
    margin-bottom: 16px;
}

.form_input_container {
    width: 100%;
    margin-top: 8px;
}
.form_button {
    margin: 18px 0;
    width: 50%;
}
.link_container {
    width: 100%;
    justify-content: flex-end;
}
.signup_link {
    text-align: right;
    font-size: 14px;
    color: #65646c;
}
.signup_link:hover {
    color: #f1f1f1;
}

@media screen and (max-width: 768px) {
    .back_ground_container {
        display: none;
    }
    .form_container {
        width: 100%;
    }
}

@media screen and (max-width: 480px) {
    .form {
        width: 90%;
    }
    .link_container {
        justify-content: center;
    }
}
