.main_container {
    margin-top: 64px;
    max-width: 1400px;
    align-items: flex-start;
}

.right_container {
    align-items: flex-start;
}

/* poster section ----------------------------------- */

.poster_section {
    position: sticky;
    top: 123px;
}

/* Info section ----------------------------------- */

.movie_title_container {
    justify-content: flex-start;
}

.movie_like_container {
    margin-left: auto;
}

.movie_title {
    margin-bottom: 16px;
}

.info_main_container {
    padding: 0 40px;
    overflow: auto;
    width: 100%;
}

.info_container {
    margin-bottom: 32px;
}

.info_item {
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0;
    margin: 0 0 6px 0;
}

.info_name {
    min-width: 180px;
}

.info_value {
    color: #a0a0b1;
}

.movie_discreption {
    font-size: 18px;
    margin-bottom: 64px;
}

/* comment section ----------------------------------- */

.comments_main_container {
    margin-bottom: 128px;
}

.comments_header,
.movies_watch_header {
    font-size: 24px;
    margin-bottom: 24px;
}

.comment_container,
.comment_confirm_main_container {
    padding: 16px;
    background-color: #2a2727;
    border-radius: 10px;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 16px;
}

.comment_confirm_main_container {
    justify-content: center;
    align-items: center;
}

.comment_avatar_container {
    width: 20%;
}

.comment_user_name {
    font-size: 16px;
    margin: 0;
}

.comment_date {
    margin-bottom: 16px;
    font-size: 14px;
}

.comment_text_container {
    align-items: flex-start;
}

.comment_confirm_container {
    padding: 16px 0;
}

.comment_confirm_text {
    margin-bottom: 16px;
}

.comment_text {
    margin-bottom: 8px;
}

.comment_text_main_container {
    padding-left: 24px;
    align-items: flex-start;
}

.comment_delete_button,
.comment_cancel_button,
.comment_edit_button {
    font-size: 14px;
    padding: 2px 6px;
}

.comment_edit_button,
.comment_cancel_button {
    background-color: #a0a0b1cc;
    margin-left: 8px;
}

.comment_edit_button:hover {
    background-color: #65646c;
}

.comment_button_container {
    justify-content: flex-end;
    margin-top: 24px;
}

.comment_form_container,
.comment_text_form_container {
    padding: 16px;
    background-color: #65646c;
    border-radius: 10px;
    margin-bottom: 16px;
}

.comment_text_form_container {
    border: #2a2727 0;
    color: #f1f1f1;
    background-color: #2a2727;
    justify-content: flex-start;
    align-items: flex-start;
    min-height: 100px;
}

.comment_text_form_container:focus {
    border: 0 #2a2727;
    color: #f1f1f1;
    background-color: #2a2727;
}

.comment_form_container {
    margin-bottom: 64px;
}

.comment_form_header {
    font-size: 20px;
    text-align: center;
    width: 100%;
}

.disabled_button {
    background-color: #a0a0b1;
    color: #2a2727;
}

.disabled_button:hover {
    background-color: #a0a0b1;
    color: #2a2727;
}

/* Movies to watch section ----------------------------------- */
.movies_watch_container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
}

/* Avaliable seats section ----------------------------------- */
.tickets_section {
    position: sticky;
    top: 123px;
}

.tickets_main_container {
    width: 350px;
    border-radius: 10px;
    background-color: #2a2727;
}

.tickets_container {
    padding: 32px 32px;
}

/* Responsiveness------------------------- */

@media screen and (max-width: 1024px) {
    .right_container {
        flex-direction: column-reverse;
        align-items: center;
        justify-content: flex-start;
    }

    .tickets_section {
        position: relative;
        top: 0;
        margin-bottom: 32px;
    }
}

@media screen and (max-width: 768px) {
    .main_container {
        flex-direction: column;
        align-items: center;
    }

    .poster_section {
        position: relative;
        top: 0;
        margin-bottom: 32px;
    }
}
@media screen and (max-width: 480px) {
    .info_name {
        min-width: 120px;
    }

    .movie_title_container {
        flex-direction: column-reverse;
        justify-content: center;
    }

    .info_main_container {
        padding: 0;
    }

    .movie_title {
        font-size: 32px;
    }

    .tickets_main_container {
        width: 250px;
    }

    .movie_discreption {
        font-size: 16px;
    }

    .comment_container {
        flex-direction: column;
        align-items: center;
    }

    .comment_text_container,
    .comment_text_main_container {
        margin-top: 12px;
        padding: 0;
    }
}
