
.film_background{
    position: relative;
    background-size: cover;
    width: 380px;
    flex: 0 0 auto;
    
    
}

.content_background{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 0.2s;
    justify-content: flex-start;
    padding: 32px 48px ;
}

.content_background:hover{
    background-color: #2A2727bf;
    backdrop-filter: blur(10px);
    
}

.content_background:hover .content_container{
    display:block;  
}

.content_container{
    /* display: none; */
    width: 100%;
    transition: 0.2s;
}
.film_title{
    margin-top: auto;
    width: 100%;
    padding: 64px 0;
    font-size: 27px;
}
.form_section{
    margin-top: 160px 
}