.main_container {
    position: relative;
    justify-content: flex-start;
    align-items: stretch;
    flex-grow: 1;
}
.carousel_container {
    position: absolute;
    scroll-behavior: smooth;
    height: 100%;
    justify-content: flex-start;
    align-items: stretch;
    flex-grow: 1;
    flex-wrap: nowrap;
    overflow-x: scroll;

    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

.carousel_container::-webkit-scrollbar {
    display: none;
}

.left_slider_button,
.right_slider_button {
    position: absolute;
    z-index: 500;

    /* top:calc(100vh / 2.5); */
    top: 375px;
}

.left_slider_button {
    left: 20px;
}

.right_slider_button {
    right: 20px;
}

@media screen and (max-width: 768px) {
    .main_container {
        position: relative;
        justify-content: flex-start;
        align-items: center;
    }
    .carousel_container {
        flex-direction: column;
        position: relative;
        scroll-behavior: smooth;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: unset;
        overflow-x: unset;

        -ms-overflow-style: unset; /* IE and Edge */
        scrollbar-width: unset; /* Firefox */
    }

    .carousel_container::-webkit-scrollbar {
        display: unset;
    }

    .left_slider_button,
    .right_slider_button {
        display: none;
    }
}
