.main_container{
    position: relative;
    justify-content: flex-start;
    align-items: stretch;
    flex-grow: 1;


}
.carousel_container{
    position: absolute;
    
    height: 100%;
    justify-content: flex-start;
    align-items: stretch;
    flex-grow: 1;
    flex-wrap: nowrap;
    overflow: hidden;

}

