.play_icon {
    font-size: 28px;
    margin-right: 22px;
}

.play_button {
    color: #f1f1f1;
    justify-content: center;
    text-align: center;

    margin-top: 24px;
    background-color: #a0a0b180;
    border-radius: 10px;
    padding: 12px 16px;
}

.width_75 {
    width: 75%;
}

.width_100 {
    width: 100%;
}

.display_non {
    display: none;
}

.play_text {
    margin: 0;
    font-size: 20px;
    font-weight: 500;
}

.play_button:hover {
    background-color: #cc0000;
}

.under_title {
    font-size: 18px;
    margin-top: 16px;
}
