.content_main_container {
    max-width: 1400px;
    /* margin-top: 64px; */
}

.seat_section,
.tickets_section,
.content_main_container {
    align-items: stretch;
    flex-grow: 1;
    justify-content: flex-start;
}

/* seat section ---------------- */
.seat_section {
    width: 60%;
}

.tickets_movie_info_container {
    margin-bottom: 32px;
}

/* tickets section -------------------- */
.tickets_section {
    width: 40%;
}
.main_order_container {
    margin-left: 32px;
    width: 100%;

    border-radius: 10px;

    background-color: #2a2727;
    justify-content: flex-start;
}
.main_order_container_header {
    border-radius: 10px 10px 0 0;
    padding: 16px 32px 12px 32px;
    background-color: #a0a0b11a;
    justify-content: flex-start;
}
.main_order_header_title,
.main_order_sum {
    font-size: 24px;
    margin: 0;
}
.order_ticket_container {
    padding: 24px 32px 24px 32px;
    max-height: 500px;
    overflow: auto;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    justify-content: flex-start;
    /* 
    align-items: stretch;
    flex-grow: 1; */
}
.order_ticket {
    background-color: #a0a0b11a;
    border-radius: 10px;
    padding: 8px 8px 8px 24px;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 24px;
}

.ticket_seat_container {
    align-items: flex-start;
}

.main_order_sum {
    margin-left: auto;
}
.main_order_sum span {
    margin-left: 8px;
}

.close_button_container {
    margin-left: auto;
}

.order_ticket_price {
    font-size: 32px;
    text-align: center;

    align-self: center;
    /* justify-content: flex-start; */
}
.order_ticket_type {
    font-size: 24px;
}

.order_ticket_seat {
    font-size: 18px;
}
.order_ticket_seat span:first-child {
    margin-right: 16px;
}

.tickets_movie_info {
    align-items: flex-start;

    padding-left: 32px;
}
.movie_info_title {
    font-size: 40px;
    margin-bottom: 16px;
}
.movie_info_date {
    font-size: 24px;
    margin-bottom: 16px;
}
.movie_info_date span {
    margin-right: 16px;
}
.movie_info_time {
    font-size: 24px;
}

.payment_container {
    margin-top: auto;
    padding: 32px;
}
.payment_ruler {
    border-top: #a0a0b11a solid 2px;
    width: 80%;
    margin-bottom: 32px;
}
