* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #334155;
}

.hidden {
  visibility: hidden;
}

.display-non {
  display: none;
}

.test{
  background-color: brown;
}